/* Mats - Hannah - Gjermund */

/*
Farger:
Bakgrunn: #16182e Mørk blå/lilla
*/
body{
    background-color: #16182e;
    color: #FFF;
}
#container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
/*
Firefox takler ikke bilder over en viss lengde.
Derfor er bildet delt i 2 og lagt i hver sin seksjon
*/
#mainHalfTopSection{
    height: 21971px;

    background-image: url('../images/half-top-line.png');
    background-size: 1100px;
    background-position: top center;
    background-repeat: no-repeat;
}
#mainHalfBottomSection{
    height: 21975px;

    background-image: url('../images/half-bottom-line.png');
    background-size: 1100px;
    background-position: top center;
    background-repeat: no-repeat;
}