/* Mats - Hannah - Gjermund */

/*
Farger:
Bakgrunn: #16182e Mørk blå/lilla
Redsel: #00924c Grønn
Panikk: #535738 Brun
Forvirring: #00a19a Lysblå
Usikkerhet: #0073ad Blå
Trygghet: #523f7b Lilla
Håp: #FFF hvit
*/
body{
    background-color: #16182e;
    color: #FFF;
    font-family: bitterRegular;
}
@font-face {
    font-family: bitterRegular;
    src: url('../fonts/Bitter-Regular.otf');
}
@font-face {
    font-family: bitterBold;
    src: url('../fonts/Bitter-Bold.otf');
}
@font-face {
    font-family: bitterItalic;
    src: url('../fonts/Bitter-Italic.otf');
}
#container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    height: 500px;
}
/*
Firefox takler ikke bilder over en viss lengde.
Derfor er bildet delt i 2 og lagt etterhverandre
*/
#mainSection{
    height: 42302px;

    background-image: url('../images/half-top-line.png'), url('../images/half-bottom-line.png'), url('../images/island-blue.png');
    background-size: 1100px, 1100px, 570px;
    background-position: top center, bottom center, center center;
    background-repeat: no-repeat;
    background-attachment: scroll, scroll, fixed;
}
#dot1{background-color: #00924c}
#dot2{background-color: #535738}
#dot3{background-color: #00a19a}
#dot4{background-color: #0073ad}
#dot5{background-color: #523f7b}
#dot6{background-color: #FFF}
#dotSection{
    position: fixed;
    top: 30px;
    right: 30px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.lockIcon{
    width: 30px;
    height: 30px;
    left: -10px;
    position: relative;
}
#showTxtBtn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 300px;
    right: 45px;
    background-color: #FFF;
}
#clockWrap{
    position: fixed;
    left: 30px;
    top: 30px;
}
#clock{
    font-size: 3em;
}
#inputSection, #checkSection, #infoBoxSection, #introSection{
    display: none;
}
#infoBoxSection{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #16182e;
}
#infoBox{
    margin: auto;
    padding-top: 100px;
    padding-left: 40px;
    width: 500px;
    height: auto;
}
#infoBoxTitle, #infoBoxText{

}
#questionWrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
}
#questionWrap input{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 4px;
    color: white;
}
#questionWrap input:focus{
    outline: none;
}
#inputSection{
    display: block;
}
#introSection{
    line-height: 2.5em;
}
#inputSection, #checkSection, #introSection{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#closeInfoBoxBtn, #toTopBtn, #infoBtn, #volumeBtn{
    width: 40px;
    cursor: pointer;
}
#toTopBtn{
    opacity: 0;
}
#volumeBtn{
    padding-bottom: 7px;
    padding-left: 10px;
}
#buttonsSection{
    position: fixed;
    bottom: 50px;
    left: 30px;
}
/* Draggable */
#yourName {
    width: calc( 290px - 20px );
    padding: 10px;
    text-align: center;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    margin: auto;
}
.questionOptions{ /* Wrap rundt der navnet lander */
    width: 288px;
    height: 80px;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin: 10px;
}
.option{
    width: 100%;
    height: 30px;
}
.drop{
    width: 100%;
    height: 50px;
    display: block;
}
.hide{
    display: none;
}
/* END dragable */
